In [2]:
import re  # regular expression 정규표현식 라이브러리

In [22]:
text = 'abcaabbccaaabbbccc'

### 어떤 문자 한개 : .

In [4]:
print(re.findall('.', text))

## 어떤 문자 1개씩을 출력

['a', 'b', 'c', 'a', 'a', 'b', 'b', 'c', 'c', 'a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c']

In [5]:
re.findall('a.', text)

## >ab  ca  >ab  bcc  >aa  >ab  bbccc
## a를 포함한 것을 출력

['ab', 'aa', 'aa', 'ab']

#### 0개 또는 1개 : ?

In [23]:
print(re.findall('a?', text)) # a? = '', a

## a?는 a가 있거나 없거나를 1개씩 출력

['a', '', '', 'a', 'a', '', '', '', '', 'a', 'a', 'a', '', '', '', '', '', '', '']

### 0회 이상 : *

In [7]:
re.findall('a*', text) # a* = '', a, aa, aaa

## a가 0회 이상인 경우 출력

['a', '', '', 'aa', '', '', '', '', 'aaa', '', '', '', '', '', '', '']

### 1회 이상 : +

In [8]:
re.findall('a+', text) # re.findall(<단어:정규표현식>, <문서>) / re.findall(<대상:정규표현식>, <위치>) 

## a가 1회 이상 등장하는 경우만 출력

['a', 'aa', 'aaa']

In [24]:
doc = '''Ardino 23 010-1234-5678 onds@ardino.com
        Tom 21 016-345-6789 tom@ardino.com
        Jenny 25 011-123-5346 jny@ardino.com'''

### 내가 원하는 것들 중 한개 : []

### 내가 지정한 것들을 제외한 것들 중 한개 : [^]

### 묶음, 묶은 것만 지칭 : ()

### 회피용법

In [43]:
doc1 = 'TomCru'

In [47]:
# re.findall('[A-Za-z]+', doc1)
re.findall('[A-Z][A-Za-z]+', doc1)

['TomCru']

In [38]:
re.findall('A[a-z]+', doc)  ## A로 시작하고 뒤에 소문자 열[a-z]+로 끝나는 것을 출력

# re.findall('A[a-z]*', doc) ## +대신 *한 경우 A만 혼자 있는 경우도 찾게됨.

['Ardino']

In [34]:
re.findall('T[a-z]+', doc)

['Tom']

In [35]:
re.findall('J[a-z]+', doc)

['Jenny']

In [37]:
re.findall('[A-Z][a-z]+', doc)

['Ardino', 'Tom', 'Jenny']

In [25]:
# 이름들만 뽑기
# 알파벳대문자로 시작하고, 소문자들로 이어지는 
# 알파벳대문자 하나, 소문자 여러개
re.findall('[A-Z][a-z]+', doc)

['Ardino', 'Tom', 'Jenny']

In [11]:
# 나이만 뽑기
re.findall('\s([0-9][0-9])\s', doc) # 스페이스 사이에 있는 숫자2개
re.findall('[a-z]\s([0-9][0-9])', doc) # 소문자+스페이스 뒤에 숫자2개
re.findall('[A-Z][a-z]+\s(..)', doc) # 이름+스페이스 뒤에 어떤문자2개
re.findall('[A-Z][a-z]+\s(.+?)\s', doc) # 이름+스페이스와 스페이스 사이의 (최대한짧은) 어떤문자열

['23', '21', '25']

In [12]:
# 전화번호만 뽑기
re.findall('[0-9\-]+', doc) # [] 안에서는 or로 연결되기때문에, 숫자로만 이루어진 문자열도 같이 뽑힘
re.findall('[0-9]+\-[0-9]+\-[0-9]+', doc)

['010-1234-5678', '016-345-6789', '011-123-5346']

In [13]:
# 이메일만 뽑기
re.findall('[a-z]+@[a-z]+\.[a-z]+', doc)

['onds@ardino.com', 'tom@ardino.com', 'jny@ardino.com']

### Greedy Q : .+ / Reluctant Q : .+?

In [14]:
text = 'ardino is not altino'

In [15]:
re.findall('a.+o', text)

['ardino is not altino']

In [16]:
re.findall('a.+?o', text)

['ardino', 'altino']

### 연습 : 타이타닉 데이터 이름 컬럼에서 middle name만 추출하기

In [48]:
import pandas as pd

df_titanic = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [49]:
name1 = df_titanic[['Name']].iloc[0] # first person name
name1

Name    Braund, Mr. Owen Harris
Name: 0, dtype: object

In [50]:
re.findall('\s([A-Za-z]+)\.', str(name1))

['Mr']

In [51]:
# 한 컬럼 전체에 모두 동일한 문자열 관련 기능을 적용하는 방법
df_titanic['Name'].str.extract('\s([A-Za-z]+)\.')

        0
0      Mr
1     Mrs
2    Miss
3     Mrs
4      Mr
..    ...
886   Rev
887  Miss
888  Miss
889    Mr
890    Mr

[891 rows x 1 columns]